<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">All users</h3>
          <div class="box-tools">
            <div class="input-group pull-right">
              <a href='<%= new_user_path %>' class="btn btn-sm btn-primary"><i class="fa fa-plus"></i> New user</a>
            </div>
          </div>
        </div><!-- /.box-header -->
        <div class="box-body table-responsive no-padding">
          <table class="table table-hover">
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Actions</th>
            </tr>
            <% for user in @users %>
            <tr>
              <td><%= user.name %></td>
              <td><%= user.email %></td>
              <td><%= link_to "Edit", edit_user_path(user), class:'btn btn-xs btn-primary' %> <%= link_to "Remove", user_path(user), method: :delete, data:{confirm: "Are you sure you want to remove this user?"}, class:'btn btn-xs btn-danger' %></td>
            </tr>
            <% end %>
          </table>
        </div><!-- /.box-body -->
        <div class='box-footer'>
        </div>
      </div><!-- /.box -->
    </div>
  </div>
</section>
