<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title><%= @full_page_title || (@page_title.present? ? "#{@page_title} | Nodeherd" : nil) || "Nodeherd" %></title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <%= csrf_meta_tags %>
  </head>
  <body class="skin-blue sidebar-mini">
    <div class="wrapper">

      <header class="main-header">
        <!-- Logo -->
        <a href="/" class="logo">
          <!-- mini logo for sidebar mini 50x50 pixels -->
          <span class="logo-mini"><b>N</b>H</span>
          <!-- logo for regular state and mobile devices -->
          <span class="logo-lg"><b>Node</b>herd</span>
        </a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top" role="navigation">
          <!-- Sidebar toggle button-->
          <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
          </a>
          <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
              <%= render "common/updates" %>

              <!-- User Account: style can be found in dropdown.less -->
              <li class="dropdown user user-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <img src="<%= @current_user.gravatar_url(160) %>" class="user-image" alt="User Image"/>
                  <span class="hidden-xs"><%= @current_user.name %></span>
                </a>
                <ul class="dropdown-menu">
                  <!-- User image -->
                  <li class="user-header">
                    <img src="<%= @current_user.gravatar_url(160) %>" class="img-circle" alt="User Image" />
                    <p>
                      <%= @current_user.name %><br /><%= @current_user.title %>
                      <small>Member since <%= @current_user.created_at.strftime("%b. %Y") %></small>
                    </p>
                  </li>
                  <!-- Menu Body -->
                  <!-- <li class="user-body">
                    <div class="col-xs-4 text-center">
                      <a href="#">Followers</a>
                    </div>
                    <div class="col-xs-4 text-center">
                      <a href="#">Sales</a>
                    </div>
                    <div class="col-xs-4 text-center">
                      <a href="#">Friends</a>
                    </div>
                  </li> -->
                  <!-- Menu Footer-->
                  <li class="user-footer">
                    <div class="pull-left">
                      <a href="<%= edit_user_path(@current_user) %>" class="btn btn-default btn-flat">Profile</a>
                    </div>
                    <div class="pull-right">
                      <a href="<%= logout_path %>" class="btn btn-default btn-flat">Sign out</a>
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </nav>
      </header>
      <!-- Left side column. contains the logo and sidebar -->
      <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
          <!-- Sidebar user panel -->
          <div class="user-panel">
            <div class="pull-left image">
              <img src="<%= @current_user.gravatar_url(160) %>" class="img-circle" alt="User Image" />
            </div>
            <div class="pull-left info">
              <p><%= @current_user.name %></p>

              <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
          </div>
          <!-- search form -->
          <%= form_tag nodes_path, class:"sidebar-form", method: "get" do %>
            <div class="input-group">
              <input type="text" name="search" class="form-control" placeholder="Search for nodes..."/>
              <span class="input-group-btn">
                <button type='submit' name='go' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
              </span>
            </div>
          <% end -%>
          <!-- /.search form -->
          <!-- sidebar menu: : style can be found in sidebar.less -->
          <ul class="sidebar-menu">
            <li class="header">MAIN NAVIGATION</li>
            <li <%= @breadcrumbs.active_section?("nodes") %>><a href="<%= nodes_path %>"><i class="fa fa-cubes"></i> <span>Nodes</span></a></li>
            <li <%= @breadcrumbs.active_section?("packages") %>><a href="<%= upgrades_path %>"><i class="fa fa-cloud-download"></i> <span>Upgrades</span></a></li>
            <li <%= @breadcrumbs.active_section?("scripts") %>><a href="<%= scripts_path %>"><i class="fa fa-book"></i> <span>Scripts</span></a></li>
            <li <%= @breadcrumbs.active_section?("logs") %>><a href="<%= actions_path %>"><i class="fa fa-file-text"></i> <span>Changelog</span></a></li>
            <li <%= @breadcrumbs.active_section?("users") %>><a href="<%= users_path %>"><i class="fa fa-users"></i> <span>Users</span></a></li>
            <!-- <li <%= @breadcrumbs.active_section?("reports") %>><a href="/"><i class="fa fa-line-chart"></i> <span>Reports</span></a></li> -->
          </ul>
        </section>
        <!-- /.sidebar -->
      </aside>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            <%= '<i class="fa fa-dashboard"></i>'.html_safe if @breadcrumbs.last && @breadcrumbs.last.section == "dashboard" %>
            <%= '<i class="fa fa-cubes"></i>'.html_safe if @breadcrumbs.last && @breadcrumbs.last.section == "nodes" %>
            <%= '<i class="fa fa-cloud-download"></i>'.html_safe if @breadcrumbs.last && @breadcrumbs.last.section == "packages" %>
            <%= '<i class="fa fa-book"></i>'.html_safe if @breadcrumbs.last && @breadcrumbs.last.section == "scripts" %>
            <%= '<i class="fa fa-file-text"></i>'.html_safe if @breadcrumbs.last && @breadcrumbs.last.section == "logs" %>
            <%= '<i class="fa fa-users"></i>'.html_safe if @breadcrumbs.last && @breadcrumbs.last.section == "users" %>
            <!-- <%= '<i class="fa fa-line-chart"></i>'.html_safe if @breadcrumbs.last && @breadcrumbs.last.section == "reports" %> -->
            <%= @page_title %>
            <small><%= @page_subtitle %></small>
          </h1>
          <ol class="breadcrumb">
            <% @breadcrumbs.each do |breadcrumb| %>
              <% unless breadcrumb == @breadcrumbs.last %>
                <li>
                  <% if breadcrumb == @breadcrumbs.first %>
                    <i class='fa fa-bookmark-o'></i>
                  <% end %>
                  <a href="<%= breadcrumb.link %>"><%= breadcrumb.title %></a></li>
              <% else %>
                <li class="active"><%= breadcrumb.title %></li>
              <% end %>
            <% end %>
          </ol>
        </section>

        <%= render "common/alerts" %>

        <%= yield %>
      </div><!-- /.content-wrapper -->
      <footer class="main-footer">
        <div class="pull-right hidden-xs">
          <b>Version</b> 1.0
        </div>
        <strong>Copyright &copy; 2015 <a href="http://www.absolutedevops.io">Absolute DevOps Ltd</a>.</strong> All rights reserved. Theme design by <a href='https://almsaeedstudio.com'>Almsaeed Studio</a>.
      </footer>

      <!-- Control Sidebar -->
      <aside class="control-sidebar control-sidebar-dark">
        <!-- Create the tabs -->
        <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
          <li><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>

          <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
          <!-- Home tab content -->
          <div class="tab-pane" id="control-sidebar-home-tab">
            <h3 class="control-sidebar-heading">Recent Activity</h3>
            <ul class='control-sidebar-menu'>
              <li>
                <a href='javascript::;'>
                  <i class="menu-icon fa fa-birthday-cake bg-red"></i>
                  <div class="menu-info">
                    <h4 class="control-sidebar-subheading">Langdon's Birthday</h4>
                    <p>Will be 23 on April 24th</p>
                  </div>
                </a>
              </li>
              <li>
                <a href='javascript::;'>
                  <i class="menu-icon fa fa-user bg-yellow"></i>
                  <div class="menu-info">
                    <h4 class="control-sidebar-subheading">Frodo Updated His Profile</h4>
                    <p>New phone +1(800)555-1234</p>
                  </div>
                </a>
              </li>
              <li>
                <a href='javascript::;'>
                  <i class="menu-icon fa fa-envelope-o bg-light-blue"></i>
                  <div class="menu-info">
                    <h4 class="control-sidebar-subheading">Nora Joined Mailing List</h4>
                    <p>nora@example.com</p>
                  </div>
                </a>
              </li>
              <li>
                <a href='javascript::;'>
                  <i class="menu-icon fa fa-file-code-o bg-green"></i>
                  <div class="menu-info">
                    <h4 class="control-sidebar-subheading">Cron Job 254 Executed</h4>
                    <p>Execution time 5 seconds</p>
                  </div>
                </a>
              </li>
            </ul><!-- /.control-sidebar-menu -->

            <h3 class="control-sidebar-heading">Tasks Progress</h3>
            <ul class='control-sidebar-menu'>
              <li>
                <a href='javascript::;'>
                  <h4 class="control-sidebar-subheading">
                    Custom Template Design
                    <span class="label label-danger pull-right">70%</span>
                  </h4>
                  <div class="progress progress-xxs">
                    <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
                  </div>
                </a>
              </li>
              <li>
                <a href='javascript::;'>
                  <h4 class="control-sidebar-subheading">
                    Update Resume
                    <span class="label label-success pull-right">95%</span>
                  </h4>
                  <div class="progress progress-xxs">
                    <div class="progress-bar progress-bar-success" style="width: 95%"></div>
                  </div>
                </a>
              </li>
              <li>
                <a href='javascript::;'>
                  <h4 class="control-sidebar-subheading">
                    Laravel Integration
                    <span class="label label-waring pull-right">50%</span>
                  </h4>
                  <div class="progress progress-xxs">
                    <div class="progress-bar progress-bar-warning" style="width: 50%"></div>
                  </div>
                </a>
              </li>
              <li>
                <a href='javascript::;'>
                  <h4 class="control-sidebar-subheading">
                    Back End Framework
                    <span class="label label-primary pull-right">68%</span>
                  </h4>
                  <div class="progress progress-xxs">
                    <div class="progress-bar progress-bar-primary" style="width: 68%"></div>
                  </div>
                </a>
              </li>
            </ul><!-- /.control-sidebar-menu -->

          </div><!-- /.tab-pane -->
          <!-- Stats tab content -->
          <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div><!-- /.tab-pane -->
          <!-- Settings tab content -->
          <div class="tab-pane" id="control-sidebar-settings-tab">
            <form method="post">
              <h3 class="control-sidebar-heading">General Settings</h3>
              <div class="form-group">
                <label class="control-sidebar-subheading">
                  Report panel usage
                  <input type="checkbox" class="pull-right" checked />
                </label>
                <p>
                  Some information about this general settings option
                </p>
              </div><!-- /.form-group -->

              <div class="form-group">
                <label class="control-sidebar-subheading">
                  Allow mail redirect
                  <input type="checkbox" class="pull-right" checked />
                </label>
                <p>
                  Other sets of options are available
                </p>
              </div><!-- /.form-group -->

              <div class="form-group">
                <label class="control-sidebar-subheading">
                  Expose author name in posts
                  <input type="checkbox" class="pull-right" checked />
                </label>
                <p>
                  Allow the user to show his name in blog posts
                </p>
              </div><!-- /.form-group -->

              <h3 class="control-sidebar-heading">Chat Settings</h3>

              <div class="form-group">
                <label class="control-sidebar-subheading">
                  Show me as online
                  <input type="checkbox" class="pull-right" checked />
                </label>
              </div><!-- /.form-group -->

              <div class="form-group">
                <label class="control-sidebar-subheading">
                  Turn off notifications
                  <input type="checkbox" class="pull-right" />
                </label>
              </div><!-- /.form-group -->

              <div class="form-group">
                <label class="control-sidebar-subheading">
                  Delete chat history
                  <a href="javascript::;" class="text-red pull-right"><i class="fa fa-trash-o"></i></a>
                </label>
              </div><!-- /.form-group -->
            </form>
          </div><!-- /.tab-pane -->
        </div>
      </aside><!-- /.control-sidebar -->
      <!-- Add the sidebar's background. This div must be placed
           immediately after the control sidebar -->
      <div class='control-sidebar-bg'></div>
    </div><!-- ./wrapper -->

    <%= javascript_include_tag 'application' %>

  </body>
</html>
